<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grader_S"
        tools:targetApi="31">
        <activity
            android:name="com.Grader.grader_s.gallery_2"
            android:exported="false" />
        <activity
            android:name="com.Grader.grader_s.Gallery"
            android:exported="false" />
        <activity
            android:name="com.Grader.grader_s.Banner"
            android:exported="false" />
        <activity
            android:name="com.Grader.grader_s.Fees"
            android:exported="false" />
        <activity
            android:name="com.Grader.grader_s.Holidays"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.Time_table"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Grader_S" />
        <activity
            android:name="com.Grader.grader_s.Syllabus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.assignment_data"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.change_password"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.forget_page"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.register_2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.Notification_content"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.Edit_profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.Subject_syllabus_content"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.Subject_syllabus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.Assignment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.Notification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.Attendance"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.dashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.Login_page"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Grader.grader_s.Splash_screen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Grader.grader_s.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>